@media screen and (max-width: 320px) {

    body{
        background-color:rgb(243, 224, 113) 
    }
    .logo{
        text-align: center;
        
    }
    button{
        width: 75px;
        background-color: aliceblue;
    }
    .div1{
        width: 290px;
        height: 90px;
        background-color: rgb(250, 158, 209);
        margin: 5px;

    }
    .div2{
        width: 290px;
        height: 90px;
        background-color: rgb(250, 158, 209);
        margin: 5px;
    }
    .div3{
        width: 290px;
        height: 90px;
        background-color: rgb(250, 158, 209);
        margin: 5px;
    }
    .tudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p{
        display: none;
    }
    img{
        width: 305px;
        height: 100px;
        background-attachment: fixed;
    }
}

@media screen and (min-width:323px) and (max-width:600px) {
    body{
        background-color: rgb(250, 158, 209);
      
    }
    .logo{
        display: flex;
        flex-direction: row;
    }
    img{
        align-items: start;
        width: 248px;
        height: 149px;
        background-attachment: fixed;
    }
    button{
        width: 75px;
        height: 20px;
        background-color: aliceblue;
        margin-top: 28px;
        margin-left: 52px;
        
        
    }
    .div1{
        width: 502px;
        height: 190px;
        background-color: rgb(243, 224, 113);
        margin: 5px;

    }
    .div2{
        width: 274px;
        height: 190px;
        background-color: rgb(243, 224, 113);
        margin: 5px;
        
        }
    .div3{
            width: 274px;
            height: 190px;
            background-color: rgb(243, 224, 113);
            margin: 5px;
            

         }
    .divs{
        display: flex;
    
    }        
    p{
        display: none;
    }

    
}
@media screen and (min-width: 601px) and (max-width:2000px){
    body{
        background-color: rgb(243, 224, 113);
        
    }
    .logo{
        display: flex;
        flex-direction: row;
    }
    img{
        width: 380px;
        height: 125px;
        background-attachment: fixed;
    }
    button{
        width: 75px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        flex-direction: row;
        margin-top: 28px;
        margin-left: 78px;
        
    }
    .div1{
        width: 200px;
        height: 190px;
        background-color: rgb(250, 158, 209);
        margin: 5px;
        

    }
    .div2{
        width: 200px;
        height: 190px;
        background-color: rgb(250, 158, 209);
        margin: 5px;
        
    }
    .div3{
        width: 200px;
        height: 190px;
        background-color: rgb(250, 158, 209);
        margin: 5px;
    }
    .tudo{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
    }
    .divs{
        display: flex;
        height: 198px;
        width: 629px;
        border-right-width: 0px;
        border-right-style: solid ;
        margin-right: 0px;
        
        
    }
    p{
        color: rgb(250, 158, 209);
        
    }
    

}