body{
    background-image: url(ondas.jpg);
}
.Menu{
    display: flex;

}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 85px;
    font-size: 20px;
    color: rgb(5, 1, 48);
    margin-left: 790px;
}
h1{
    font-size: 60px;
    color: rgb(5, 1, 48);
}
h3{
   font-size: 50px;
   color: rgb(5, 1, 48);
   margin-left: 1282px;
    margin-top: 123px;
    margin-bottom: 0px;
}
h2{
    color: rgb(5, 1, 48);
    font-size: 15px;
    margin-left: 1000px;
    margin-top: 121px;

}